@CHARSET "UTF-8";
body{padding: 0; margin: 0}
#body_wrap { width:100%; margin-left:auto; margin-right:auto; padding:0px; }   
#main_wrap{height:80px; margin-left: auto; margin-right: auto; background: #EBFFEB}
#middle_wrap { width:1050px; height:100%; padding:0px; margin-left:auto; margin-right:auto; margin-top: 50px;}
#content_wrap { width:60%;  float: left; margin: 0px;}
#chat_wrap{width:35%; height:600px; border: 1px solid; float: left; margin: 0px; padding: auto}
#openchat{width: 100%; height: 48%; border: 1px solid; margin-left: auto; margin-right: auto; margin-bottom: 4%}
#chatbot{width: 100%; height: 48%; border: 1px solid; margin-left: auto; margin-right: auto}
#mainLogo_wrap{float: left; width:33%;height:100%}
#mainLogo{width: 150px;height:30px; margin-left: 50px}
#allSearch_wrap{float: left; width:33%;height:100%; margin-left: auto; margin-right: auto;padding-left: 50px}
#allSearch{width: 300px;height: 30px;margin-left: 50px; margin-right: auto; margin-top: 25px}
#menulist_wrap{float: left; width:34%; height:100%; font-size: 15px}
#menulist{width: 300px; height: 30px; margin-left: auto; margin-right: auto; margin-top: 25px}
#side_bar{width: 20%; height: 600px; float: left; border: 1px solid; margin: 0px}
#mycontent_wrap{width: 79%; float: left; border: 1px solid; margin-left: 5px}
.topListMenu{list-style: none;}
.topListMenu li{float: left; margin-left: 10px;}
.menu .hide{display:none;}
.hide{list-style: none;  display: none;width:100px; padding-left:0; background-color: #f1f1f1;overflow: auto;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1; position: absolute; text-align: center;}
.hide2{list-style: none;  display: none;width:70px; padding-left:0; background-color: #f1f1f1;overflow: auto;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1; position: absolute; text-align: center; top: 0; left: -65}
.imgst{margin-top: 30px; margin-bottom:45px; width: 100%; height: 650px; margin-left: auto; margin-right: auto}
.nicknameptag{font-size: 18px;font-weight: bold;}
.contst{margin-top: 20px; margin-left: 20px; margin-bottom: 20px; margin-right: 20px}
.mainbbsdetailimg{float: left; width: 618px; height: 650px;}
.detailDiv{max-width: 400px; height:650px; margin-top: 10; float: right;width: 100%}
.detailborder{border: 1px solid #c8c8c8;height: 652px; border-radius: 10px}
.detailcont{width: 400px;margin-top: 5px;padding-left: 10px;padding-right: 10px;}
#ajaxComment{height: 72%; overflow-x: hidden;overflow-y:scroll;padding:12px 16px;border-bottom: 1px solid rgba(0,0,0,.0975);margin-bottom: 10px;}
.detailcomment{margin-top: 10px; padding-top: 10px; padding-left: 10px; border-top: 1px solid rgba(0,0,0,.0975);}
.detailcomment input{border: none; outline-style: none; font-size: 15;}
.mainbbsdetailimg img{width: 100%; height: 100%}
#ajaxComment input{border: none; outline-style: none; font-size: 12px}
.detailDiv .detailTopInfo{padding-left: 10px}
.detailDiv .top{display: flex; justify-content: space-between; align-content: center; padding: 13px 17px; position: relative; border-bottom: 1px solid rgba(0,0,0,.0975)}
.user_container{display: flex; align-items: center;}
.user_container .profile_img{width: 32px; height: 32px; border-radius: 50%; overflow: hidden; margin-right: 10px;}
.user_container .profile_img img{height: 100%; width: 100%;}
.user_container .user_name{color:#262626;}
.user_container .nick_name{font-size: 14px;font-weight: bold; margin-bottom: 5px;}
.user_container .country{font-size: 12px;}
.sprite_more_icon {display: inline-block; width: 15px; height: 3px;}
.top .more_detail{list-style: none; display: none; position: absolute; right: -60px; top: 40px; background:white; border: 1px solid rgba(0,0,0,.0975); border-radius: 3px;z-index: 100; box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.34);/*display: none;*/transform-origin: left top;transform:scale(0);transition:all 0.3s ;}
.top .more_detail > li{padding: 10px 20px;cursor: pointer;}
#ajaxComment .admin_container{ margin-bottom: 10px;}
#ajaxComment ._cmtcontent{margin-bottom: 10px;}
#ajaxComment .admin_container .admin,
#ajaxComment ._cmtcontent .cmtnick{width: 32px; height: 32px; min-width:32px; border-radius: 50%; overflow:hidden; margin-right: 10px;}
#ajaxComment .admin_container .admin img,
#ajaxComment ._cmtcontent .cmtnick img{ width: 100%;height: 100%;}
#ajaxComment .comment{line-height:1.4; position: relative; width: 350px;}
#ajaxComment .user_id{ color:#262626; font-size: 14px; font-weight: bold; margin-right:5px;}
#ajaxComment .comment .time{ font-size: 15px; color:#999; margin-top: 10px;}
#ajaxComment .admin_container,
#ajaxComment ._cmtcontent{ display: flex;}
.replydiv{margin-left: 25px;margin-bottom: 10px; display: flex;}
.replydiv .cmtnick{width: 32px; height: 32px; min-width:32px; border-radius: 50%; overflow:hidden; margin-right: 10px;}
.replydiv .cmtnick img{ width: 100%;height: 100%;}
.replydiv .cmtcont{line-height:1.4; position: relative; width: 100%;}
.replydiv .user_id{ color:#262626; font-size: 14px; font-weight: bold; margin-right:5px;}
.replydiv .cmtcont .time{ font-size: 15px; color:#999; margin-top: 10px;}
.mapdetailborder{border: 1px solid #c8c8c8;height: 652px;width: 1020px; border-radius: 10px}
.mapdetailDiv{width: 400px; height:650px; float: right; overflow: auto;}
#map {float: left; width: 618px; height: 650px;}
#description {font-family: Roboto;font-size: 15px;font-weight: 300;}
#infowindow-content .title {font-weight: bold;}
#infowindow-content {display: none;}
#map #infowindow-content {display: inline;}
.pac-card {margin: 10px 10px 0 0;border-radius: 2px 0 0 2px;box-sizing: border-box;-moz-box-sizing: border-box;outline: none;box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);background-color: #fff;font-family: Roboto;}
#pac-container {padding-bottom: 12px;margin-right: 12px;}
.pac-controls {display: inline-block;padding: 5px 11px;}
.pac-controls label {font-family: Roboto;font-size: 13px;font-weight: 300;}
#pac-input {background-color: #fff;font-family: Roboto;font-size: 15px;font-weight: 300;margin-left: 12px;padding: 0 11px 0 13px;text-overflow: ellipsis;width: 350px;}
#pac-input:focus {border-color: #4d90fe;}
#title {color: #fff;background-color: #4d90fe;font-size: 25px;font-weight: 500;padding: 6px 12px;}
#target {width: 345px;}
.row{ display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap;  flex-wrap: wrap;}
.col-md-8{ position: relative; width: 100%; padding-right: 15px; padding-left: 15px;}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.text-muted {
  color: #6c757d !important;
}
 .card-img,
.card-img-top,
.card-img-bottom {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}  
._ans{
	padding-bottom: 10px
}

/* 로그인 css  */
.container{
   display:none;
   position:absolute;
	width: auto;
	height:auto;
	top: calc(50% - 240px);
	left: calc(40% - 160px);
   border-radius:15px 15px 15px 15px;
}
.c1{
   box-shadow:0 0 10px grey;
   background-color:white;
   width:300px;
   height:500px;
   display:inline-block;
   border-radius:15px 15px 15px 15px;
}

.c11{
   background-image:url('https://i.pinimg.com/736x/b8/09/22/b80922f6ea2daaf36a6627378662803b--deck-of-cards-phone-wallpapers.jpg');
   background-size:300px 400px;
   background-repeat: no-repeat;
   background-color:white;
   width:300px;
   height:400px;
   display:inline-block;
   position:absolute;
   z-index:4;
   border-radius:15px 15px 200px 200px;
}
#left, #right {
   color:white;
   display: inline-block;
   width:146px;
   height: 500px;
   background-color:white;
   cursor:pointer;
}
#left{
   border-radius:15px 0px 0px 15px;
}
#right{
   border-radius:15px 15px 15px 0px;
}
.left_hover{
   color:#EE9BA3;
   box-shadow: 5px 0 18px -10px #333;
   z-index:1;
   position:absolute;
}
.right_hover{
   box-shadow: -5px 0 15px -10px #333;
   z-index:1;
   position:absolute;
}
.s1class{
   color:#748194;
   position:absolute;
   bottom:0;
   left:63%;
   margin-left: -50%;
}
.s1class span,  .s2class span{
   display:block;
}
.su{
   font-size:20px;
}
.s2class{
   color:#748194;
   position:absolute;
   bottom:0;
   right:63%;
   margin-right: -50%;
}
.mainhead{
   color:white;
   font-size:24px;
   text-align:center;
   margin-top:50px;
}
.mainp{
   color:white;
   font-size:13px;
   text-align:center;
   margin-top:10px;
}
.c2{
   background-color:white;
   width:300px;
   height:500px;
   border-radius:15px;
   position:absolute;
   left:370px;
   display:inline-block;
}
.username{
   font-weight: bold;
   width: 230px;
   margin: 0 35px 10px ;
   height: 35px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: #748194;
   font-size: 14px;
}
.username2{
	font-weight: bold;
   width: 200px;
   margin: 0 0px 10px 35px;
   height: 35px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: #748194;
   font-size: 14px;
}
.btn{
   font-weight: bold;
   width: 230px;
   margin: 0 35px 20px ;
   height: 45px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #EE9BA3;
   color: white;
   font-size: 14px;
}
.signup1{
   color:#748194;
   font-size:30px;
   text-align:center;
}
.chcektag{
   text-decoration: none;
   font-weight: bold;
   font-size: 11px;
   float: right;
   margin-right: 12;
   margin-top: 8;
}
.chcektag2{
	text-decoration: none;
   font-weight: bold;
   font-size: 11px;
   margin: 0 35px 10px ;
}
.signup2{
   color:#748194;
   font-size:20px;
   text-align:center;
}
.signup{
   display:initial;
}
.signin{
   display:initial;
}
#login_body_wrap{
	background:#FAF3EC;
   font-family: 'Roboto';
}
.compos{
	position: relative;
}
